<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <mvc:annotation-driven />
    <!-- 1.注解扫描位置-->
    <!--<mvc:default-servlet-handler/>-->
    <context:component-scan base-package="com.lmj.train.controller" />
    <!--<mvc:default-servlet-handler/>-->
    <!-- SpringMVC配置 -->
    <!--<mvc:annotation-driven/>-->

    <!-- 映射静态资源文件目录 -->
    <!--<mvc:resources mapping="/js/**" location="/WEB-INF/static/js/" />-->
    <!--<mvc:resources mapping="/css/**" location="/WEB-INF/static/css/" />-->
    <!--<mvc:resources mapping="/img/**" location="/WEB-INF/static/img/" />-->
    <!--<mvc:resources mapping="/jsa/**" location="/WEB-INF/static/jsa/" />-->
    <!--<mvc:resources mapping="/layui/**" location="/WEB-INF/static/layui/" />-->
    <!--<mvc:resources mapping="/related/**" location="/WEB-INF/static/related/" />-->
    <!--<mvc:resources mapping="/scss/**" location="/WEB-INF/static/scss/" />-->
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
    <!-- 2.配置映射处理和适配器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

    <bean id="templateResolver"
          class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/html/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="order" value="1"/>
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有mvc控制器 -->
            <mvc:mapping path="/**"/>
            <!-- mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在
                LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选) -->
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/index" />
            <mvc:exclude-mapping path="/register" />
            <mvc:exclude-mapping path="/buyTicketContre" />
            <bean class="com.lmj.train.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
